<h1>Cadastro</h1>
<h3>Crie um novo produto</h3>
<hr />
<alert-error [errors]="errors"></alert-error>
<alert-success [messages]="messages"></alert-success>
<form (ngSubmit)="handleCreate()" [formGroup]="productForm">
  <div class="form-container">
    <label for="description">Descrição </label>
    <input
      id="description"
      placeholder="Descrição"
      type="text"
      formControlName="description"
      [ngClass]="{'is-invalid': displayMessage.description}"
    />
    <span class="text-danger" *ngIf="displayMessage.description">
      <p [innerHTML]="displayMessage.description"></p>
    </span>

    <label for="price">Preço</label>
    <input
      id="price"
      type="number"
      step="0.01"
      value="0.00"
      placeholder="Preço"
      formControlName="price"
      [ngClass]="{'is-invalid': displayMessage.price }"
    />
    <span class="text-danger" *ngIf="displayMessage.price">
      <p [innerHTML]="displayMessage.price"></p>
    </span>

    <label for="image">Imagem</label>
    <input
      id="image"
      type="text"
      placeholder="Url da imagem"
      formControlName="image"
      [ngClass]="{'is-invalid': displayMessage.image}"
    />
    <span class="text-danger" *ngIf="displayMessage.image">
      <p [innerHTML]="displayMessage.image"></p>
    </span>

    <btn-default
      id="btn-salvar"
      [disabled]="!productForm.valid"
      [(isLoading)]="isLoading"
      [inputText]="'Salvar'"
    ></btn-default>
  </div>
</form>
