.btn-edit
  background-color: var(--color-warning)
  color: var(--)

.btn-error
  background-color: var(--color-error)
  color: var(--)

table
  padding: .4em
  margin: auto
  text-align: left
  border-collapse: collapse
  width: 50%
  table-layout: fixed

table tr
  border-bottom: 1px solid

table th, table td
  padding: .25em

hr
  width: 50%
